.bsp
.metals
.scala-build
.vscode
/02_ANFORDERUNGEN/Aufgabe 1 -Beispiel umsetzen als Funktion/.bsp
/02_ANFORDERUNGEN/Aufgabe 1 -Beispiel umsetzen als Funktion/.metals
/02_ANFORDERUNGEN/Aufgabe 1 -Beispiel umsetzen als Funktion/.scala-build
/02_ANFORDERUNGEN/Aufgabe 1 -Beispiel umsetzen als Funktion/.vscode